.bottomBar {
  border-top: 1px solid #3c6b39;
  padding: 60px 10px;
}

.boxLayout {
  display: flex;
  justify-content: center;
}

.bottomBox {
  border-radius: 20px;
  border: 1px solid #3c6b39;
  background-color: white;
}

.madeBy {
  display: flex;
  justify-content: center;
  margin: 20px;
}
