.homeMain {
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding-top: 30px;
  padding-bottom: 80px;
}

.mainLayout {
  display: flex;
  justify-content: center;
  align-content: center;
  height: auto;
  margin-bottom: 60px;
}

.mainHeader {
  margin: 20px 0px;
  padding: 10px 20px;
  min-width: 300px;
}

.header1 {
  font-size: clamp(2.3em, 4.5vw, 3.5rem);
  font-weight: 900;
  margin: 25px 20px;
  padding: 5px 10px;
}

.header2 {
  font-weight: 900;
  margin: 25px 20px;
  padding: 5px 10px;
}

.gotoShopBtn {
  margin: 0px 30px;
  width: 110px;
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 17px;
  font-weight: bold;
  background-color: #3c6b39;
  color: #f7f6f3;
}

.gotoShopBtn:hover {
  background-color: #f7f6f3;
  color: #3c6b39;
}

.mainImage {
  width: 80%;
  height: 300px;
  margin: 40px 0px;
  min-width: 250px;
  background-color: #3c6b39;
  border-radius: 5px;
}

.aboutLayout {
  margin-top: 20px;
}

.aboutImage {
  width: 80%;
  height: 300px;
  margin: 0px 30px;
  min-width: 250px;
  background-color: #3c6b39;
  border-radius: 5px;
}

.header3 {
  font-size: clamp(1.5em, 4.5vw, 1rem);
  font-weight: 900;
  margin-bottom: 10px;
  padding: 5px 20px;
  text-align: center;
}

.header4 {
  font-size: clamp(2em, 4.5vw, 2.5rem);
  font-weight: 900;
  margin: 25px 20px;
  padding: 5px 0px;
  text-align: center;
}

.header5 {
  font-weight: 900;
  margin: 25px 20px;
  padding: 5px 0px;
  text-align: center;
}
