@import "home";
@import "products";
@import "cart";
@import "payment";
@import "admin";
@import "navBar";
@import "bottomBar";

:root {
  --primary-color: #3c6b39;
  --background-color: #f7f6f3;
}

.ui-dark {
  --primary-color: #f7f6f3;
  --background-color: #3c6b39;

  .navBar {
    background-color: #f7f6f3;
  }

  .burgerLine1,
  .burgerLine2,
  .burgerLine3 {
    background-color: #3c6b39;
  }
  .navTitle,
  .menuItem {
    color: #3c6b39;
  }

  .gotoShopBtn {
    background-color: #f7f6f3;
    color: #3c6b39;
  }

  .gotoShopBtn:hover {
    background-color: #3c6b39;
    color: #f7f6f3;
  }
  .bottomBar {
    border-top: 1px solid #f7f6f3;
  }
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.mainContent {
  margin-top: 100px;
}
