@import "products";
@import "cart";
@import "payment";

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 20px;
  background-color: #0890ff;
}
.navBar {
  border-radius: 10px;
}
