@import "products";
@import "cart";
@import "payment";
@import "navBar";

:root {
  --primary-color: black;
  --background-color: white;
}

.ui-dark {
  --primary-color: white;
  --background-color: #3c6b39;

  .navBar {
    background-color: white;
  }

  .burgerLine1,
  .burgerLine2,
  .burgerLine3 {
    background-color: #3c6b39;
  }
  .navTitle,
  .menuItem {
    color: #3c6b39;
  }
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
